.footer {
    display: flex;
    // position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #405BAB;
    height: 30px;
    // left: 0;
    // bottom: 0;
    width: 100%;
    color: aliceblue;
}